# Binaries
/bin
/tmp

# Go build directories
# The default build directory for Go is the current directory, so you should ignore the output binary.
main

# Go module cache
/pkg/mod/
# Go vendor directory
/vendor/

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment variable file
.env

# Database files
*.db

# Test coverage files
*.out
*.profile

# Ignore cache files
*.cache
*.log

# Ignore any local config files
*.local